
{% extends "Dashboard/base.html" %}
{% block body %}
{% load static %}


<form action="{% url 'Dashboard:add_person' %}" method="POST" enctype="multipart/form-data" style="padding-left:20px;margin-left:20px;padding-right:20px;margin-right:20px; font-size:12px">
   {% csrf_token %}
   <fieldset>
      <legend class="text-center">Missing Person Information -</legend>
      <div class="row">
         <div class="col-md-4 offset-md-2">
            <div class="form-group">
               <label for="fullname"><span class="FieldInfo">Name:</span> </label>
               <input class="form-control" type="text" id="fullname" name="fullname" placeholder="Enter Name of Missing Person"  value="" required>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group">
               <label for="age"><span class="FieldInfo">Age:</span> </label>
               <input class="form-control" type="text" id="age" name="age" placeholder="Enter Age"  value="" required>
            </div>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-4 offset-md-4">
            <div class="form-group">
               <img height="120px;" width="150px" src="{% static 'images/select-image.png' %}" class="rounded mx-auto d-block" alt="..." id="picture" >
               <input id="fileinput" type="file" name="fileinput" style="display:none" onchange="document.getElementById('picture').src = window.URL.createObjectURL(this.files[0])" required />
            </div>
         </div>
      </div>

   </fieldset>
   <br>
   <fieldset>
      <legend class="text-center">Guardian Information -</legend>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="guardian_name"><span class="FieldInfo">Name:</span> </label>
               <input class="form-control" type="text" name="guardian_name" id="guardian_name" placeholder="Enter Name" value="" required>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="guardian_address"><span class="FieldInfo">Address:</span> </label>
               <input class="form-control" type="text" name="guardian_address" id="guardian_address" placeholder="Enter Address" value="">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="guardian_contact"><span class="FieldInfo">Contact Number:</span> </label>
               <input class="form-control" type="text" name="guardian_contact" id="guardian_contact" placeholder="Enter Contact Number" value="">
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="guardian_email"><span class="FieldInfo">Email Id:</span> </label>
               <input class="form-control" type="text" name="guardian_email" id="guardian_email" placeholder="Enter Email ID" value="" required>
            </div>
         </div>
      </div>
       <br>
      <div class="row">
         <div class="col-md-4 offset-md-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
         </div>
      </div>
   </fieldset>
</form>

<script type="text/JavaScript"
src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>

<script>
$(function() {
$('#picture').on('click', function() {
    $('#fileinput').trigger('click');
});
});
</script>


{% endblock %}

