<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Home</title>

    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Dashboard/style.css'%}">


</head>

<body>
    <div class="container ">
        <div class="shadow p-4 mb-4 bg-white">

            <div class="jumbotron text-center">
                <h1 class="display-4">Face Recognition</h1>
                <p>Build with Python</p>
                <a href="login.html">testit</a>
                <form class="form" action="/processImage/" method="POST" >{% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Process Image" name="content">
                        </div>
                        <div class="col">
                            <button  type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>

</html>